
/* Another News */

.another-news {
    width: 100%;
    /* background-color: red; */
    margin-bottom: 40px;
}

.another-new {
    /* display: flex; */
    margin: 35px 0;
}

.new-header {
    width: 262px;
    margin: 0;
    float: left;
    margin-right: 12px;
}

.new-header img {
    width: 100%;
}

.new-body {
    width: 66%;
    padding-left: 20px;
    margin-right: 0;
}

.new-cate {
    margin: 0;
}

.new-date {
    display: inline-block;
    margin-left: 10px;
}

.new-title {
    font-size: 24px;
}

.new-link {
    font-weight: 600;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
}

.new-link:hover,
.new-link:active {
    color: var(--primary-color);
    transition: all 0.2s ease;
}

.new-detail {
    margin: 10px 0;
    height: 42px;
    overflow:hidden;
}

.new-footer {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 10px;
}

.new-footer-link button {
    outline: none;
    border: 1px solid var(--primary-color);
    background: white;
    color: var(--primary-color);
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.new-footer-link button:active,
.new-footer-link button:hover {
    color: white;
    background-color: var(--primary-color);
    transition: all 0.2s ease;
}

@media screen and (max-width: 600px) {
    
}