:root{
    --primary-color:#fc624d;
    --max-width: 1200px;
    --footer-color: #848f9a
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* HEADER */
header{
    max-width: var(--max-width);
    margin: 20px auto ;
}

.header-sec{
    max-width: 100%;
}

.logoimg{
    width: 200px;
}
.searchform{
    display: flex;
}
.searchinput{
    padding: 5px 0 5px 10px;
    width: 442px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(199, 199, 199);
    transition: all 0.2s ease;
}
.searchinput,.searchbtn{
    margin: 0;
}
.searchinput:hover, 
.searchinput:active,
.searchinput:focus{
   border: 1px solid gray;
   transition: all 0.2s ease;
   box-shadow: 0px 1px 1px 0px rgb(199, 199, 199);
}
.searchbtn{
  height: 40px;
  width: 60px;
  position: relative;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.4s ease;
}
.searchimg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 25%;
}
.searchbtn:hover,.searchbtn:active{
    background-color: #df1e04;
    transition: all 0.4s ease;
}
.user-functions{
    list-style: none;
    display: flex;
}
.user-link{
    text-decoration-line: none;
    color: black;
    font-weight: 700;
    font-size: medium;
    transition: all 0.2s ease;
}
.user-link:hover,
.user-link:active{
    color: var(--primary-color);
    transition: all 0.2s ease;
}
.user-logined{
    text-align: right;
    cursor: pointer;
}

/* NAVIGATION */


.navigation::after,
.navigation::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #a0a0a0;
}
.cate-width{
    max-width: var(--max-width);
    height: 65px;
    /* margin: 10px auto; */
}
.list-categories{
    max-width: var(--max-width);
    list-style: none;
    display: flex;
    justify-content: start;
    width: 70%;
    padding: 0px 0;
    margin: 0;
    height: 100%;
}
.item-category{
    flex-grow: 1;
    position: relative;
}
.item-category::after{
    position: absolute;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: red;
    margin-top: -3px;
    transition: all 0.2s ease;
}
.item-category:hover::after{
    /* left: 0; */
    width: 100%;
    transition: all 0.2s ease;
}
.item-category {
    text-align: center;
}
.item-category a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s ease;
}
.item-category a:hover,
.item-category a:active{
    color: var(--primary-color);
    transition: all 0.2s ease;
}
.item-category-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



  /* Footer */
footer{
    border-top: 7px solid var(--primary-color);
    background-color: #252e38;
    padding: 40px 0;
}
.footer-container{
    max-width: var(--max-width);
}
.item-footer{
}
.item-header{
    font-size: 16px;
    font-weight: 800;
    color: white;
}
.item-header::after{
    content: "";
    display: block;
    height: 2px;
    width:20px;
    background-color: var(--primary-color);
    margin-top: 5px;
}
.item-body{
    margin-top: 20px;
}
.img-logo{
    width: 140px;
    margin: 0;
}
.img-logo img{
    width: 100%;
}
.text{
    margin-top: 20px;
    color: var(--footer-color);
}
.infor-btn{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    margin-top: 10px;
    padding: 10px;
    width: 128px;
    height: 42px;
    cursor: pointer;
    font-weight: 600;
}
.infor-btn:active,
.infor-btn:hover{
    color: var(--primary-color);
    background-color: white;
    transition: all 0.2s ease;
}
.sub-input{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    height: 40px;
    outline: none;
}
.sub-btn{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.2s ease;
}
.sub-btn:hover,
.sub-btn:active{
    background-color: #df1e04;
    transition: all 0.2s ease;
}
.list-news{
    list-style: none;
}
.item-new{
   display: flex;
   justify-content: space-between;
   margin: 15px 0;
}
.item-new a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 0;
}
.item-new a:hover,
.item-new a:active{

}
.item-img{
    width: 80px;
    height: 60px;
}
.item-img img{
    width: 100%;
    height: 100%;
}
.item-text{
    font-size: 14px;
    width: 65%;
}
.item-text:hover,
.item-text:active{
   text-decoration: underline;
}

.list-media{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.media-item{
    width: 40px;
    height: 40px;
    margin: 0 2.5px;
    position: relative;
    cursor: pointer;
}
.face-media{
    background-color: #3b5998;
}
.twitter-media{
    background-color: #4099ff;
}
.insta-media{
    background-color: #885343;
}
.media-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    opacity: 0.2;
    transition: all 0.2 ease;
}
.media-item:hover .media-overlay,
.media-item:active .media-overlay{
    z-index: 1;
    transition: all 0.2 ease;
}
.media-link{
    width: 100%;
    height: 100%;
    display: block;
}
.media-link img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.right{
    max-width: var(--max-width);
    border-top: 1px solid black;
    padding-top: 25px;
    font-size: 12px;
}
.content-right{
    text-align: center;
    color: var(--footer-color);
    line-height: 25px;
    cursor: context-menu;
}
.span-text:hover,
.span-text:active{
    color: var(--primary-color);
}
@media screen and (max-width:900px) {
    .cate-width{
        max-width: 100%;
        /* min-width: fit-content; */
    }
    .searchform{
        justify-content: center;
    }
}